<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}"
data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: " large"
|replace: '?' , '%3F' | replace: '&' ,'%26'}}" data-description="{{ product.description | escape }}"></div>

{% schema %}
{
  "name": "Reviews",
  "class": "product-subscription_banner",
  "settings": [	      
            {
                "type": "image_picker",
                "id": "heroBGImage",
                "label": "Background Image"
            },
            {
                "type": "color",
                "id": "heroBGColor",
                "label": "Background Color",
                "default": "#fff"
              },
			{
				"type": "text",
				"id": "heroHeading",
				"label": "Title"
			},
			{
				"type": "richtext",
				"id": "heroBodyText",
				"label": "Body Copy"
			}
  ],
  "presets": [{
    "name": "Product Reviews",
    "category": "Content"
  }]
}

{% endschema %}