<!-- Dream Powder Product ID for reviews at the bottom of the page -->
{% assign product_id = 4528614113335 %}

<div class="header-lp bg--blue p1 p2--md pl3--md pr3--md">
    <div class="lp-container tc">

        <a title="beam" href="/">
            <img class="show--md" style="margin-top: 4px; height: 32px;" width="auto"
                src="{{ 'beam-logo-white.png' | asset_url }}">
            <img class="hide--md" style="margin-top: 4px; height: 20px;" width="auto"
                src="{{ 'beam-logo-white.png' | asset_url }}">
        </a>

    </div>
</div>

<div class="modal hidden" id="download-modal"></div>
<div class="modal--overlay hidden"></div>
<!-- The Modal -->
<div id="detailsModal" class="details-modal">

    <!-- Modal content -->
    <div class="details-modal-content" style="max-width: 700px;">
        <div class="details-header tl color--white purple-header">
            <h1 class="sans--large fw--300 lowercase" temprop="name">{{product.title}}</h1>
            <p class="sans--small fw--600">{{ product.type }}</p>
            <span class="close">&times;</span>
        </div>
        <div class="inner">
            <img style="width: 100%;height: auto;" src="{{ 'hemp-nutritionfacts-dream-powder-1.jpg' | asset_url }}">

        </div>
    </div>

</div>


<div class="hide--md">
    <img src="{{ 'dream-family.jpg' | asset_url }}" style="max-width: 100%;" alt="dream hero image">
</div>

<div class="grid-container contained">
    <!-- Section 1 -->
    <div class="row mt1 mt3--md pt1--md align--center">

        <div class="col c5--md c4--lg pb2">
            <h2 class="pt2 pt6--md sans--large fw--600 color--blue">
                sleep support when you need it most.
            </h2>
            {% include 'stars' %}
            <p class="sans--body color--black fw--400 pt2 pt3--md">
                beam’s dream collection is made with sleep-promoting* compounds like magnesium, reishi,L-Theanineand
                Nano Hemp to help you drift off for a better night’s rest. and for nights when you need a little extra
                help falling asleep, there’s dream extra strength capsules formulated with even more sleep-promoting*
                power so you can get better, deeper sleep.
            </p>

            <div class="pt1 pt1--md pt2--lg pt4--xl pb3 pb0--md show--md">
                <a class="dib custom-button--wave-primary-top link--opacity pill"
                    style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
                    title="shop our sleep collection" href="/collections/sleep">
                    shop our sleep collection<span>
                    </span>
                </a>
            </div>
            <div class="hide--md"
                style="position: fixed;bottom: 0;left: 0;right: 0;z-index: 99999;padding: 14px 10px; background-color: #e2e2e2">
                <a class="dib custom-button--wave-primary-top link--opacity pill"
                    style="color: #fff !important; line-height: 2.2; background-color: #2f358e !important"
                    title="shop our sleep collection" href="/collections/sleep">
                    shop our sleep collection<span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col c1 show--md"></div>
        <div class="col c5--md c4--lg pb4 pr show--md">
            <img src="{{ 'dream-family.jpg' | asset_url }}" style="max-width: 100%;border-radius: 20px;"
                alt="dream hero image">
        </div>
    </div>
</div>
<!-- Section 2 -->
<div class="pt1 pb1 tc mt2 mt3--md mb1 mb2--md color--white" style="background-color: #8c8cf0;">
    <div class="marquee">
        <div class="track">
            <div class="content">
                dream improves sleep quality, which is more than just sleep.<span class="pl4 pr4">•</span>
                dream improves sleep quality, which is more than just sleep.<span class="pl4 pr4">•</span>
                dream improves sleep quality, which is more than just sleep.<span class="pl4 pr4">•</span>
                dream improves sleep quality, which is more than just sleep.<span class="pl4 pr4">•</span>
                dream improves sleep quality, which is more than just sleep.<span class="pl4 pr4">•</span>
                dream improves sleep quality, which is more than just sleep.<span class="pl4 pr4">•</span>
            </div>
        </div>
    </div>

</div>




<div class="show--md mt1 mb1">
    <div class="mt1 mb2"><br>
    </div>
</div>

<div class="mt4 mb3 mt5--md mb10--md">
    <div class="container pt2--md pb2--md">
        <div class="row">

            <div class="col hide--md mb2 mb0--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'drweiss-testimonial.jpg' | asset_url }}" media="(min-width: 800px)">
                                <img class="full-width rounded-image" alt="an all-natural alternative"
                                    src="{{ 'drweiss-testimonial.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c5--md c5--lg mb2 mb0--md show--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'drweiss-testimonial.jpg' | asset_url }}" media="(min-width: 800px)">
                                <img class="full-width rounded-image" alt="an all-natural alternative"
                                    src="{{ 'drweiss-testimonial.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c1--lg show--md"></div>

            <div class="col c7--md c6--lg pt1--md mb3 tc tl--md">
                <h6 class="sans--body mb3"><span class="color--white bg--purple fw--600"
                        style="padding: 2px 16px; border-radius: 5px; opacity: .6;">Meet Beam's resident sleep
                        expert</span></h6>

                <h2 class="fw--600 sans--large mb2 color--blue">dr. carleara weiss</h2>
                <h3 class="fw--300 sans--body mb2">
                    Dr. Weiss has over 15 years of experience as a clinician-scientist. her research focuses on
                    behavioral sleep medicine and circadian rhythms and she’s a Member of the American Academy of Sleep
                    Medicine, and sleep research society. she also participates in professional development workshops
                    including cognitive behavioral therapy for insomnia, circadian rhythm sleep disorders and clinical
                    studies.
                </h3>
                <h3 class="fw--300 sans--body mb2">
                    “we are a 24/7 society where sleep is undervalued and consequently, many struggle with poor sleep
                    quality. as a sleep scientist, my goal is to help people understand the importance of sleep for
                    physical and mental health. beam is committed to offering products that may contribute to sleep
                    quality while maintaining an ethical and conscious approach to overall wellness for those who
                    consume their products.”
                </h3>

            </div>





        </div>
    </div>
</div>



<div class="tc row mt4--md pb4--md pt4 pt6--md align--center" style="background-color: #f0f0ff;">
    <div class="col c11 c10--md c10--lg">
        <h2 class="sans--large tc fw--600 mb2 color--blue">The Power of Dream</h2>


        <div style="max-width: 1600px; margin-left: auto; margin-right: auto" class="pt4--md pb3 pb4--md">
            <div class="show--md row align--center">
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-reishi.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">reishi</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-magnesium.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">magnesium</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        mineral that aids the body’s ability to fall asleep by producing melatonin and regulating the
                        nervous system*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-hemp.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">Nano Hemp</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        particles with the highest absorption potential to naturally support inflammation, balance, and
                        sleep*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-Ltheanine.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">L-Theanine</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        amino acid that promotes relaxation, calmness and helps improve sleep quality* </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-melatonin.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">melatonin</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        compound that regulates the body’s circadian rhythm, promoting restful sleep*
                    </h5>
                </div>
            </div>

            <div class="ingredient-slider hide--md">
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-reishi.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">reishi</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-magnesium.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">magnesium</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        mineral that aids the body’s ability to fall asleep by producing melatonin and regulating the
                        nervous system*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-hemp.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">Nano Hemp</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        particles with the highest absorption potential to naturally support inflammation, balance, and
                        sleep*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-Ltheanine.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">L-Theanine</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        amino acid that promotes relaxation, calmness and helps improve sleep quality* </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-melatonin.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">melatonin</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        compound that regulates the body’s circadian rhythm, promoting restful sleep*
                    </h5>
                </div>
            </div>
        </div>

    </div>

</div>





<div class="mb0 pt4 pb4 pt7--md pb8--md tc" style="background-color: #fbfcff;">
    <h2 class="fw--600 sans--large mb2 color--blue pr1 pl1">better sleep right this way
    </h2>
    <div class="row align--center mb1 mb3--md">
        <div class="col c10--sm c7--md c5--xl">
            <div class="tc">
                <h3 style="line-height: 1.4;" class="fw--400 sans--body mb3 pl1 pr1">
                    looking for more sleep support? shop our best-selling dream powder and original capsules.
                </h3>
            </div>
        </div>

    </div>
    <div class="grid-container contained">
        <div class="row align--center">
            <div class="col c9--lg">
                <div class="row gutter--vertical align--center">

                    {% for product in collections.sleep.products %}
                    <div class="col c6--sm c4--md hide-{{product.handle}}">
                        <div class="product-card">
                            {% include 'product-grid-hydration' with 'three-per-row' %}
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

</div>



<div class="tc row mt5 mb4 mb3--md align--center">
    <div class="col c11 c8--md c7--lg">
        <h2 class="sans--large tc fw--600 mb3 color--blue">about beam</h2>
        <p class="sans--medium tc fw--400 mb2 color--black">
            our mission is simple: we're here to elevate your everyday so you can be your best self, always. we make
            products with the highest quality ingredients because we believe everyone deserves a chance to experience
            what better feels like — better sleep, energy, recovery and state of mind.
        </p>
    </div>

</div>
<div class="container">
    <div class="row align--center pb6 pb8--md">
        <div class="col c10--md">
            <img class="show--md" style="width: 100%;" src="{{ 'NC-Icons.png' | asset_url }}">
            <img class="hide--md" style="width: 100%;" src="{{ 'NC-icons-mobile.png' | asset_url }}">
        </div>
    </div>
</div>
<div class="yotpo yotpo-main-widget" data-product-id="{{ product_id }}" data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: " large"
    |replace: '?' , '%3F' | replace: '&' ,'%26'}}" data-description="{{ product.description | escape }}"></div>


<style>
    #main {
        padding-top: 0;
    }

    .header__nav {
        display: none !important;
    }

    .rc_radio_options {
        border-radius: 14px;
        border: 1px solid #2F358E;
        margin-bottom: 10px;
    }

    div.rc_block__type.rc_block__type__onetime {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid #2F358E;
    }

    div.rc_block__type {
        border-radius: 14px;
    }

    .rounded-more {
        border-radius: 14px;
    }

    .sans--body-new {
        font-size: 13px;
        letter-spacing: .15px;
        line-height: 25px;
    }

    .template-product .header__nav {
        background-color: #fff;
        border-bottom: 1px solid #e6e6e6;
    }

    .rounded-image {
        border-radius: 68px;
    }

    .pill--blue {
        border-radius: 32px;
        display: inline-block;
        background-color: #2F358E;
        color: #fff;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }

    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }

    .pill--blue:hover {
        background-color: #494fa7;
    }

    .pill:hover {
        background-color: #E9F2FF;
    }

    .marquee {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 26px;
        overflow-x: hidden;
    }

    .marquee .content {
        font-size: 18px;
        line-height: 26px;
    }

    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 74s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @media screen and (min-width: 600px) {

        .slideshow-second .slick-dots li {
            width: 19%;
            display: inline-block;
            margin-right: 1%;
        }

        .slideshow-second .slick-dots {
            bottom: -10px !important;
        }
    }

    @media screen and (max-width: 600px) {
        .gorgias-chat-key-sef6vt {
            bottom: 62px !important
        }

        .rounded-image {
            border-radius: 28px;
        }

        .pill {
            border-radius: 32px;
            display: inline-block;
            border: #2F358E;
            transition: 200ms ease-in-out;
            min-width: 100%;
            width: 100% !important;
            padding-right: 6px;
            padding-left: 6px;

        }

        .marquee {
            position: relative;
            width: 100vw;
            max-width: 100%;
            height: 22px;
            overflow-x: hidden;
        }

        .marquee .content {
            font-size: 16px;
            line-height: 22px;
        }

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 124s linear infinite;
        }
    }

    @media screen and (max-width: 1424px) {
        .slick-dots {
            top: auto !important;
            bottom: -20px !important;
            left: auto !important;
            right: auto;
            text-align: center;
        }

        .slick-dots li {
            display: inline;
            margin-right: 8px;
        }

        .slideshow.slideshow-mobile .slick-dots {
            bottom: 24px !important;
        }

        .slideshow.slideshow-mobile .slick-dots li button {
            background-color: transparent;
        }

        .slick-dots li button {
            background-color: #C2C2C2;
        }

        .slick-dots li button {
            text-indent: -100000px;
            border-radius: 100%;
            border: solid rgba(255, 255, 255, 0.781) 1px;
            background-color: #C2C2C2;
            width: 14px;
            height: 14px;
        }

        .slideshow.slideshow-mobile .slick-dots li.slick-active button,
        .slick-dots li.slick-active button {
            background-color: #8c8cf0;
        }
    }
</style>

<script>



    $(document).ready(function () {
        $('.add_to_cart_dream1').click(function () {
            addItemToCart()
            return false;
        });
    });

    function addItemToCart() {
        data = {
            "id": 39310648934455,
            "quantity": 1,
            "properties": {
                "shipping_interval_frequency": "30",
                "shipping_interval_unit_type": "Days"
            }
        }
        jQuery.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: data,
            dataType: 'json',
            success: function () {
                window.location.href = '/cart';
            }
        });
    }



    $('.ingredient-slider').slick({
        autoplay: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        fade: false,
        useTransform: true,
        arrows: false,
        dots: false,
        autoplaySpeed: 5000,
        adaptiveHeight: false,
        pauseOnHover: true,
        responsive: [
            {
                breakpoint: 1424,
                settings: {
                    fade: false,
                    slidesToShow: 3,
                    fade: false,
                    arrows: false,
                    dots: true,
                    customPaging: function (slider, i) {
                        return $('<button type="button" />').text(i + 1);
                    }
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1,
                    fade: false,
                    arrows: false,
                    dots: true,
                    customPaging: function (slider, i) {
                        return $('<button type="button" />').text(i + 1);
                    }
                }
            }
        ]
    });


</script>