{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}


<meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
<meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
<div class="modal hidden" id="download-modal"></div>
<div class="modal--overlay hidden"></div>
<div class="header-lp bg--white pt2 pb2 p2--md pl3--md pr3--md" style="border-bottom: 1px solid rgb(172, 172, 172);">
    <div class="grid-container contained">
        <div class="row align--middle">
            <div class="col c4--md c3--lg tc tl--md">
                <a title="beam" href="/">
                    <img style="margin-top: 4px; height: 32px;" width="auto"
                        src="{{ 'beam-logo-blue.png' | asset_url }}">
                </a>
            </div>
            <div class="col c8--md c9--lg tc tr--md">
                <p class="color--black show--md fw--600">exclusive offer for LadyGang listeners</p>
                <p class="color--black sans--small pt1 pb2 hide--md fw--600">exclusive offer for LadyGang listeners</p>
            </div>
            <div class="col c4--md c3--lg tc tr--md hide--md">
                <a title="learn more"
                    style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
                    class="add_to_cart_dream1 dib custom-button--wave-primary-top link--opacity pill bg--blue color--white"
                    href="https://beamorganics.com/cart/39503729983543:1">get 35% off</a>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div id="detailsModal" class="details-modal">


    <!-- Modal content -->
    <div class="details-modal-content" style="max-width: 700px;">
        <div class="details-header tl color--white purple-header">
            <h1 class="sans--large fw--300 lowercase" temprop="name">dream powder</h1>
            <p class="sans--small fw--600">{{ product.type }}</p>
            <span class="close fw--600" style="font-weight: 600 !important;">&times;</span>
        </div>
        <div class="inner">
            <img style="width: 100%;height: auto;" src="{{ 'hemp-nutritionfacts-dream-powder-1.jpg' | asset_url }}">

        </div>
    </div>

</div>


<div class="grid-container contained">
    <!-- Section 1 -->
    <div class="row mt1 mt1--md pt1--md align--middle">
        <div class="col c1--md c1--lg show--md"></div>
        <div class="col c5--md c5--lg pb4--md pr mt1 mt3--md">
            <div class="of--hidden" data-image-gallery>

                <div class="pdp-images slideshow slideshow-second product-photo-container" id="new-dream-second">
                    {% for image in product.images%}
                    {% if forloop.index != 7 %}
                    {% if image != featured_image %}
                    {% if image != product.images[0] %}
                    <div class="slide slide-{{ forloop.index }}">
                        <img src="{{ image.src | product_img_url: '800x600', crop: 'center' }}">
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>

            </div>

        </div>
        <div class="col c4--md c5--lg pb2">
            <h2 class="pt1 pt1--md mb2 sans--large fw--600 tc color--blue">
                your best sleep, ever.
            </h2>

            <div class="tc">

                <p class="sans--body mt1 color--black fw--400">
                    dream is a delicious, guilt-free, CBD-based hot cocoa that promotes better sleep and a more
                    refreshed morning—all with no artificial sweeteners or added sugar. it contains five powerful
                    ingredients - nano CBD, reishi, magnesium,L-Theanine, and melatonin - to help you get the zzz’s you
                    deserve.

                </p>
                <div class="mt2">
                    <p class="sans--body color--black fw--800">
                        35% off your first month
                    </p>
                    <p class="sans--small fw--600 pt1">
                        <span class="media__fixed tc"><span class="db color--blue fw--600 sans--medium">
                                <s class="compare-at-price color--blue">$95.00</s>
                                61.75
                            </span></span>
                    </p>
                </div>


                <div class="pt1 pt1--md pt1--lg pt2--xl pb1 pb0--md">
                    <div class="media__fixed mt1 mb2 tc"><a title="learn more"
                            style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
                            class="add_to_cart_dream1 dib custom-button--wave-primary-top link--opacity pill bg--blue color--white"
                            href="https://beamorganics.com/cart/39503690399799:1">get 35% off</a></div>
                </div>
                <div id="detailsModalBtnGuarantee" class="sans--body tc lowercase mt2--md"><i
                        class="far fa-thumbs-up pr1" aria-hidden="true"></i>30 Day Money Back Guarantee</div>

            </div>


        </div>

    </div>
</div>

<!-- Section 2 -->
<div class="pt1 pb1 tc color--white" style="background-color: #8c8cf0;">
    <div class="marquee">
        <div class="track">
            <div class="content">
                non-GMO <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-GMO <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-GMO <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-GMO <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-GMO <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-GMO <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>


            </div>
        </div>
    </div>

</div>


<div class="show--md mt1 mb1">
    <div class="mt1 mb2"><br>
    </div>
</div>

<div class="mt4 mb3 mt7--md mb7--md">
    <div class="container pt2--md pb2--md">
        <div class="row">

            <div class="col hide--md mb2 mb0--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'LG-Bathtub.jpg' | asset_url }}" media="(min-width: 800px)"><img
                                    class="full-width rounded-image" alt="an all-natural alternative"
                                    src="{{ 'LG-Bathtub.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c7--md c6--lg pt1--md mb3 tc tl--md">
                <h6 class="sans--body mb3"><span class="color--white bg--purple fw--600"
                        style="padding: 2px 16px; border-radius: 5px; opacity: .6;">Meet Beam's resident sleep expert
                    </span></h6>

                <h2 class="fw--600 sans--large mb2 color--blue">dr. carleara weiss
                </h2>
                <h3 class="fw--300 sans--body mb2 color--blue">“we are a 24/7 society where sleep is undervalued and
                    consequently, many struggle with poor sleep quality. as a sleep scientist, my goal is to help people
                    understand the importance of sleep for physical and mental health. beam is committed to offering
                    products that may contribute to sleep quality while maintaining an ethical and conscious approach to
                    overall wellness for those who consume their products.”
                </h3>

                <h2 class="sans--medium color--blue"><span class="fw--600">–Dr. Weiss, PhD, MS, RN
                    </span><br><span style="font-style: italic;">sleep scientist
                    </span></h2>


            </div>
            <div class="col c1--lg show--md"></div>

            <div class="col c5--md c5--lg mb2 mb0--md show--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'LG-Bathtub.jpg' | asset_url }}" media="(min-width: 800px)"><img
                                    class="full-width rounded-image" alt="an all-natural alternative"
                                    src="{{ 'LG-Bathtub.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="mt4--md mb10--md pt2--md">

    <div class="mt10--md mb10--md" style="background-color: #f0f0ff;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image" src="{{ 'dream1.jpg' | asset_url }}">
                </div>
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image" src="{{ 'dream1.jpg' | asset_url }}">
                </div>
                <div class="col c1 show--md"></div>
                <div class="col c6--md">
                    <div class="tc mt3 hide--md "><span style="width: 38px;" class="dib ml1 mb1"><img class="full-width"
                                src="{{ 'zzz.png' | asset_url }}"></span></div>
                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue">The Power of Dream <span
                            style="width: 38px;" class="show--md dib ml1 mb1"><img class="full-width"
                                src="{{ 'zzz.png' | asset_url }}"></span></h2>
                    <p class="sans--body tc tl--md fw--400 mb4 color--black">
                        With Dream Powder, you’re getting more than just quality shuteye. you’re providing your body
                        with sleep-enhancing* vitamins and minerals, such as magnesium, reishi,L-Theanine, and nano
                        hemp.
                    </p>

                    <p id="detailsModalBtn"
                        class="mt2 mb4 mb3--md fw--600 sans--body pointer underline color--blue tc tl--md"><span
                            class="hide--md">tap</span><span class="show--md">click</span> for ingredients + product
                        details</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="tc row mt10--md mb4--md pt6 align--center">
    <div class="col c11 c10--md c10--lg">
        <h2 class="sans--large tc fw--600 mb2 color--blue">what’s in <br class="show--md">your dream powder?</h2>


        <div style="max-width: 1600px; margin-left: auto; margin-right: auto" class="pt4--md pb3 pb4--md"
            id="new-ingredient-section">
            <div class="show--md row align--center">
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-magnesium.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">reishi</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-melatonin.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">magnesium</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        mineral that aids the body’s ability to fall asleep by producing melatonin and regulating the
                        nervous system*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-hemp.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">Nano Hemp</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        particles with the highest absorption potential to naturally support inflammation, balance, and
                        sleep*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-reishi.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">L-Theanine</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        amino acid that promotes relaxation, calmness and helps improve sleep quality* </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-Ltheanine.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">melatonin</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        compound that regulates the body’s circadian rhythm, promoting restful sleep*
                    </h5>
                </div>
            </div>

            <div class="ingredient-slider hide--md">
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-magnesium.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">reishi</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-melatonin.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">magnesium</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        mineral that aids the body’s ability to fall asleep by producing melatonin and regulating the
                        nervous system*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-hemp.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">Nano Hemp</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        particles with the highest absorption potential to naturally support inflammation, balance, and
                        sleep*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-reishi.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">L-Theanine</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        amino acid that promotes relaxation, calmness and helps improve sleep quality* </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-Ltheanine.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">melatonin</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        compound that regulates the body’s circadian rhythm, promoting restful sleep*
                    </h5>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="mt6 mt10--md mb10--md">

    <div class="mt10--md mb10--md" style="background-color: #f0f0ff;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image"
                        src="{{ 'dream_rebrand-lifestyle_08-enjoy.jpg' | asset_url }}">
                </div>
                <div class="col c6--md pt4--md">
                    <div class="tc mt3 hide--md "><span style="width: 38px;" class="dib ml1 mb1"><img
                                class="full-width half-moon" src="{{ 'half-moon.png' | asset_url }}"></span></div>

                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue">how to enjoy <span
                            style="width: 38px;" class="dib show--md ml1 mb1"><img class="full-width half-moon"
                                src="{{ 'half-moon.png' | asset_url }}"></span></h2>
                    <p class="sans--body tc tl--md fw--400 mb4 mb10--md color--black">
                        put at least 1 scoop of dream powder into a mug of warm milk or hot water and blend using your
                        beam frother for a cozy frothy finish. Sip 20-30 minutes before bedtime then enjoy your deepest
                        night’s sleep.
                    </p>
                </div>
                <div class="col c1 show--md"></div>

                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image"
                        src="{{ 'dream_rebrand-lifestyle_08-enjoy.jpg' | asset_url }}">
                </div>
            </div>
        </div>
    </div>


</div>



<div class="tc pt6 pb2 pt10--md pb10--md grid-section">
    <div class="container">
        <div class="col c6--lg c6--md c12--sm">
            <h4 class="color--purple sans--large fw--600">98%</h4>
            <h5 class="color--blue sans--large fw--400" style="font-style: italic;">fall asleep faster when taking
                dream.<span class="cross-text">†</span></h5>
        </div>
        <div class="col c6--lg c6--md c12--sm">
            <h4 class="color--purple sans--large fw--600">100%</h4>
            <h5 class="color--blue sans--large fw--400 " style="font-style: italic;"> experience better sleep
                quality.<span class="cross-text">†</span></h5>
        </div>
    </div>
</div>






<div class="mt4 mb10--md pt2--md">

    <div class="mt10--md mb10--md" style="background-color: #f0f0ff;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image" src="{{ 'dream2.jpg' | asset_url }}">
                </div>
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image" src="{{ 'dream2.jpg' | asset_url }}">
                </div>
                <div class="col c1 show--md"></div>
                <div class="col c6--md">
                    <div class="tc mt3 hide--md "><span style="width: 38px;" class="dib ml1 mb1"><img class="full-width"
                                src="{{ 'coffee-mug.png' | asset_url }}"></span></div>
                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue pr">your new night-time ritual
                        <span style="width: 38px;position: absolute; top: -8px; right: -29px"
                            class="show--md dib ml1 mb1"><img class="full-width"
                                src="{{ 'coffee-mug.png' | asset_url }}"></span>
                    </h2>
                    <p class="sans--body tc tl--md fw--400 mb4 mb8--md color--black">
                        we suggest preparing your cup of dream about 30 minutes before bedtime. Calming, nightly rituals
                        help signal to your body and mind that it’s time to wind down once and for all. so whether you
                        want to read, meditate or journal before bed, dream slips seamlessly into your night-time
                        routine.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mb5 mt5--md pt3 pb7 mb6--md container">
    <div class="pt4 pb6 pb10--md">
        <div class="brand-slider" id="new-brand-slider">
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">
                        <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 130px;"
                                src="{{ 'maxim-logo.png' | asset_url }}">
                        </picture>
                    </span>
                </p>
                <h5 class="tc">"these pro-athlete-approved hemp products will improve physical and mental wellness."
                </h5>
            </div>
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">

                        <picture class="promo__press-logo"><img class="promo__press-logo"
                                src="https://beam.imgix.net/beam-homepage-presslogo-forbes@2x.png?mtime=20190725113953&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                        </picture>
                    </span>
                </p>
                <h5 class="tc db">"[Beam] is a great addition to an athlete’s nightly routine."</h5>
            </div>


            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">

                        <picture class="promo__press-logo"><img class="promo__press-logo"
                                src="https://beam.imgix.net/beam-homepage-presslogo-realsimple@2x_190725_183951.png?mtime=20190725113951&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                        </picture>
                    </span>
                </p>
                <h5 class="tc">"i've started using [Beam] hemp everyday... and it changed my life."</h5>
            </div>

        </div>
    </div>
</div>


<div class="full-width pt2--md">
    <div class="row bg--blue align--middle gutter--none">
        <div class="col tc c6--md" style="background-color: #E6F1FF;">
            <img class="full-width" src="{{ 'ladygang.jpg' | asset_url }}">
            <h2 class="fw--600 sans--medium mt3 mb2 color--blue">dream subscription</h2>
            <h3 class="fw--300 sans--body color--blue mb1">join + save. Skip or cancel anytime.</h3>

            <span class="media__fixed tc"><span class="db color--blue fw--600 sans--medium">
                    61.75
                    <s class="compare-at-price color--blue">$95.00</s>
                </span></span>
            <p class="sans--small color--blue fw--300 pt2">free beam mug + frother • monthly delivery, no commitment</p>
            <p class="sans--small color--blue fw--600 pt1">renews at 20% off</p>

            <div class="media__fixed mt2 mb5">
                <a title="learn more"
                    style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
                    class="add_to_cart_dream1 dib custom-button--wave-primary-top link--opacity pill bg--blue color--white"
                    href="https://beamorganics.com/cart/39503729983543:1">get 35% off</a>
            </div>
        </div>
        <div class="col c6--md bg--blue color--white">
            <div class="p3 tc" style="max-width: 540px; margin: 0 auto;">
                <img class="" style="max-width: 62px;" src="{{ 'heart.png' | asset_url }}">
                <h2 class="sans--medium fw--600 mt3 mb1">Say hello to your Beam Team.</h2>
                <p class="sans--body mb3">a letter from us to you.</p>
                <p class="sans--body">“it’s you, our customer, who makes Beam everything it is: a community that
                    believes in a constant pursuit for better. Whatever better means for you, we’re here to support you
                    in the journey.”
                </p>
                <p class="sans--body mt3">–Johnny</p>
                <span class="sans--small" style="font-style: italic;">Your customer experience superhero</span>

                <p class="sans--body mt4 fw--600">have questions? Shoot us a text at <br class="hide--md">1-844-595-6972
                </p>
                </p>
            </div>
        </div>
    </div>
</div>


<style>
    .klaviyo-form {
        display: none !important;
    }

    #main {
        padding-top: 0 !important;
    }

    .header__nav {
        display: none !important;
    }

    .rc_radio_options {
        border-radius: 14px;
        border: 1px solid #2F358E;
        margin-bottom: 10px;
    }

    div.rc_block__type.rc_block__type__onetime {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid #2F358E;
    }

    div.rc_block__type {
        border-radius: 14px;
    }

    .rounded-more {
        border-radius: 14px;
    }

    .sans--body-new {
        font-size: 13px;
        letter-spacing: .15px;
        line-height: 25px;
    }

    .template-product .header__nav {
        background-color: #fff;
        border-bottom: 1px solid #e6e6e6;
    }

    .rounded-image {
        border-radius: 68px;
    }

    .pill--blue {
        border-radius: 32px;
        display: inline-block;
        background-color: #2F358E;
        color: #fff;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }

    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }

    .pill--blue:hover {
        background-color: #494fa7;
    }

    .pill:hover {
        background-color: #E9F2FF;
    }

    .marquee {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 26px;
        overflow-x: hidden;
    }

    .marquee .content {
        font-size: 18px;
        line-height: 26px;
    }

    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 74s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @media screen and (min-width: 600px) {

        .slideshow-second .slick-dots li {
            width: 19%;
            display: inline-block;
            margin-right: 1%;
        }

        .slideshow-second .slick-dots {
            bottom: -10px !important;
        }
    }

    @media screen and (max-width: 600px) {
        .rounded-image {
            border-radius: 28px;
        }

        .pill {
            border-radius: 32px;
            display: inline-block;
            border: #2F358E;
            transition: 200ms ease-in-out;
            min-width: 100%;
            width: 100% !important;
            padding-right: 32px;
            padding-left: 32px;

        }

        .marquee {
            position: relative;
            width: 100vw;
            max-width: 100%;
            height: 22px;
            overflow-x: hidden;
        }

        .marquee .content {
            font-size: 16px;
            line-height: 22px;
        }

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 124s linear infinite;
        }
    }

    @media screen and (max-width: 1424px) {
        .slick-dots {
            top: auto !important;
            bottom: -20px !important;
            left: auto !important;
            right: auto;
            text-align: center;
        }

        .slick-dots li {
            display: inline;
            margin-right: 8px;
        }

        .slideshow.slideshow-mobile .slick-dots {
            bottom: 24px !important;
        }

        .slideshow.slideshow-mobile .slick-dots li button {
            background-color: transparent;
        }

        .slick-dots li button {
            background-color: #C2C2C2;
        }

        .slick-dots li button {
            text-indent: -100000px;
            border-radius: 100%;
            border: solid rgba(255, 255, 255, 0.781) 1px;
            background-color: #C2C2C2;
            width: 14px;
            height: 14px;
        }

        .slideshow.slideshow-mobile .slick-dots li.slick-active button,
        .slick-dots li.slick-active button {
            background-color: #8c8cf0;
        }
    }
</style>

<script>


    $(document).ready(function () {
        $('.add_to_cart_dream1').click(function () {
            addItemToCart()
            return false;
        });

    });

    function addItemToCart() {
        data = {
            "id": 39510208643127,
            "quantity": 1,
            "properties": {
                "shipping_interval_frequency": "30",
                "shipping_interval_unit_type": "Days"
            }
        }
        jQuery.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: data,
            dataType: 'json',
            success: function () {
                window.location.href = '/cart';
            }
        });
    }

    $(document).ready(function () {

        $('.qtybox .btnqty').on('click', function () {
            var qty = parseInt($(this).parent('.qtybox').find('.quantity-input').val());
            if ($(this).hasClass('qtyplus')) {
                qty++;
            } else {
                if (qty > 1) {
                    qty--;
                }
            }
            qty = (isNaN(qty)) ? 1 : qty;
            $(this).parent('.qtybox').find('.quantity-input').val(qty);
        });


        $('.pdp-images.slideshow').slick({
            autoplay: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            useTransform: true,
            arrows: true,
            dots: true,
            autoplaySpeed: 5000,
            adaptiveHeight: false,
            pauseOnHover: true,
            customPaging: function (slick, index) {
                var targetImage = slick.$slides.eq(index).find('img').attr('src');
                return '<img src=" ' + targetImage + ' "/>';
            },
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        fade: false,
                        arrows: false,
                        dots: true,
                        customPaging: function (slider, i) {
                            return $('<button type="button" />').text(i + 1);
                        },
                        lazyLoad: $(this).find('[data-lazy]').length > 0 ? 'progressive' : null
                    }
                }
            ]
        });



        $('.ingredient-slider').slick({
            autoplay: true,
            slidesToShow: 5,
            slidesToScroll: 1,
            fade: false,
            useTransform: true,
            arrows: false,
            dots: false,
            autoplaySpeed: 5000,
            adaptiveHeight: false,
            pauseOnHover: true,
            responsive: [
                {
                    breakpoint: 1424,
                    settings: {
                        fade: false,
                        slidesToShow: 3,
                        fade: false,
                        arrows: false,
                        dots: true,
                        customPaging: function (slider, i) {
                            return $('<button type="button" />').text(i + 1);
                        }
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        fade: false,
                        arrows: false,
                        dots: true,
                        customPaging: function (slider, i) {
                            return $('<button type="button" />').text(i + 1);
                        }
                    }
                }
            ]
        });

        $('.brand-slider').slick({
            autoplay: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            fade: false,
            useTransform: true,
            arrows: false,
            dots: false,
            autoplaySpeed: 5000,
            adaptiveHeight: false,
            pauseOnHover: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        fade: false
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        fade: false,
                        arrows: false,
                        dots: true,
                        customPaging: function (slider, i) {
                            return $('<button type="button" />').text(i + 1);
                        }
                    }
                }
            ]
        });



        // Get the modal
        var modal = document.getElementById("detailsModal");

        // Get the button that opens the modal
        var btn1 = document.getElementById("detailsModalBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];


        // When the user clicks on the button, open the modal
        btn1.onclick = function () {
            modal.style.display = "block";
        }
        // When the user clicks on the button, open the modal


        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    });


</script>